<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZ2AnYgTrXRNAsrmgJms6pGGfZjz6TzzA</string>
	<key>GCM_SENDER_ID</key>
	<string>694823226489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.credaagency.AuthFirebase</string>
	<key>PROJECT_ID</key>
	<string>authfirebase-81d36</string>
	<key>STORAGE_BUCKET</key>
	<string>authfirebase-81d36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694823226489:ios:789c8fbd7757394f6e98a8</string>
</dict>
</plist>